@model SailorMoon.Models.NotasPeriodo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>NotasPeriodo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaPeriodo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaPeriodo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaPeriodo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaPeriodo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaPeriodo3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaPeriodo3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaPeriodo4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaPeriodo4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromedioAnual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromedioAnual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNotasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNotasNavigation.IdNotas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPeriodo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
