@model IEnumerable<SailorMoon.Models.Asistencias>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InastJustificada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InastInjustificada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TardJustificada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TardInjustificada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudianteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InastJustificada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InastInjustificada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TardJustificada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TardInjustificada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudianteNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAsistencias">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAsistencias">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAsistencias">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
