@model SailorMoon.Models.Grado

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Grado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grado1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grado1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdGrado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
